<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Random_Experiment_WPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Random_Experiment_WPF.Properties.Settings>
            <setting name="startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="first" serializeAs="String">
                <value>True</value>
            </setting>
        </Random_Experiment_WPF.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRandomServer" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:3030/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IRandomServer" contract="RandomExperimentServer.IRandomServer"
                name="BasicHttpBinding_IRandomServer" />
        </client>
    </system.serviceModel>
</configuration>